body {
    background-color: #333
}

div#display {
    background-color: #404040;
    border: 1px solid ;
    box-shadow: inset 0 0 0.5em #555;
    height: 250px;
    margin-top: 2em;
}

p#text {
    margin: 0.25em 0em 0em 0.5em;
    color: #e6e6e6;
    font-family: monospace;
}

form.mform {
    margin-top: 10px;
}
input[name=enter-text] {
    font-family: monospace;
}

ul {
    color: #e6e6e6
}

/***************
 * span styles *
 ***************/
/* for font color */
span.black {
    color: black;
}
span.red {
    color: red;
}
span.green {
    color: green;
}
span.yellow {
    color: yellow;
}
span.blue {
    color: blue;
}
span.purple {
    color: purple;
}
span.cyan {
    color: cyan;
}
span.white {
    color: white;
}

/* for font decoration */
span.bold {
    text-decoration: underline;
}
span.under {
    font-weight: bold;
}

/* for background color*/
span.bg-black {
    background-color: black;
}
span.bg-red {
    background-color: red;
}
span.bg-green {
    background-color: green;
}
span.bg-yellow {
    background-color: yellow;
}
span.bg-blue {
    background-color: blue;
}
span.bg-purple {
    background-color: purple;
}
span.bg-cyan {
    background-color: cyan;
}
span.bg-white {
    background-color: white;
}