body {
    background-color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande", 'Roboto', sans-serif;
}

code {
    font-family: "Andale Mono", Menlo, Monaco, Consolas, monospace;
}

.example {
    font-family: "Andale Mono", Menlo, Monaco, Consolas, monospace;
    cursor: pointer;
}
.example:hover {
    color: #498cc8;
}

/*********
 * chrome *
 *********/
#chrome {
    margin-top: 2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
    height: 25px;
    /*light theme*/
    border-color: #777;
}

/* osx window chrome style*/
#osx {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    /*light theme*/
    color: rgba(0,0,0,0);
}
#osx > li {
    margin: 5px 0 0 5px;
    display: inline-block;
}
.circle {
    border: 1px solid;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    /*light theme*/
    border-color: #777;
}

/* every other os window chrome style*/
#linux {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    /*light theme*/
    color: #333;
}
#linux > li {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    padding: 1px 10px 0 0;
    display: inline-block;
}


/* display constants */
#display {
    border: 1px solid;
    height: 250px;
    /*light theme*/
    border-color: #777;
}

#text {
    margin: 0.25em 0 0 0.5em;
    font-family: "Andale Mono", Menlo, Monaco, Consolas, monospace;
}

/* form/input */
.mform {
    margin-top: 20px;
}
.minput {
    font-family: "Andale Mono", Menlo, Monaco, Consolas, monospace;
}

/* theme constants */
.under {
    text-decoration: underline;
}