body {
    background-color: white;
}

/*********
 * chome *
 *********/
div#chrome {
    margin-top: 2em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	border-left: 1px solid #333;
    height: 25px;
}

ul#osx {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}
ul#osx li {
    margin: 5px 0px 0px 5px;
    display: inline-block;
    color: rgba(0,0,0,0);
}

ul#linux {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
ul#linux li {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    padding: 1px 10px 0px 0px;
    display: inline-block;
    color: black;
}

div.circle {
    border: 1px solid #333;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}


/***********
 * display *
 ***********/
div#display {
    background-color: #404040;
    border: 1px solid ;
    box-shadow: inset 0 0 0.5em #555;
    height: 250px;
}

p#text {
    margin: 0.25em 0em 0em 0.5em;
    color: #e6e6e6;
    font-family: monospace;
}

form.mform {
    margin-top: 10px;
}
input[name=enter-text] {
    font-family: monospace;
}

/***************
 * span styles *
 ***************/
/* for font color */
span.black {
    color: #000000;
}
span.red {
    color: #97050A;
}
span.green {
    color: #11A515;
}
span.yellow {
    color: #989819;
}
span.blue {
    color: #140EB0;
}
span.purple {
    color: #B113B1;
}
span.cyan {
    color: #1DA6B1;
}
span.white {
    color: #BFBFBF;
}

/* for font decoration */
span.bold {
    font-weight: bold;
}
span.under {
    text-decoration: underline;
}

/* for background color*/
span.bg-black {
    background-color: #818181;
}
span.bg-red {
    background-color: red;
}
span.bg-green {
    background-color: green;
}
span.bg-yellow {
    background-color: yellow;
}
span.bg-blue {
    background-color: blue;
}
span.bg-purple {
    background-color: purple;
}
span.bg-cyan {
    background-color: cyan;
}
span.bg-white {
    background-color: white;
}