body {
    background-color: white;
}

/* terminal */
#chrome {
    border-color: #333;
}
#display {
    border-color: #333;
}
#osx {
    color: rgba(0,0,0,0);
}
#linux {
    color: #333;
}
.circle {
    border-color: #333;
}